<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

    <div class="container-md">

        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Home</a>
            </div>
          </nav>

          <br>
          <h3>API Doc</h3>
          <br>

          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/staff
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all staff data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single staff</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "first_name": "Muhammad",
                    "last_name": "Bello",
                    "sex": "Male",
                    "phone": 8077777777,
                    "email": "muhammad@gmail.com",
                    "specialization": "Cyber Security",
                    "department": "Computing",
                    "job": "Senior Lecturer"
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/staff/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single staff data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single staff</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single staff</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "first_name": "Muhammad",
                    "last_name": "Bello",
                    "sex": "Male",
                    "phone": 8077777777,
                    "email": "muhammad@gmail.com",
                    "specialization": "Cyber Security",
                    "department": "Computing",
                    "job": "Senior Lecturer"
                }
                </code>
              </a>
            </div>

          </div>

         

          <br>
          <hr>
          <br>



          <div class="container">

                <div class="list-group">
                  <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                      /api/module
                  </a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
                  <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single module</a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                    <code class="pre-scrollable">
                      {
                        "code": "CST4500",
                        "title": "Computer Network and Internetworks",
                        "description": "Internetworking Course",
                        "tutors": [
                            1
                        ]
                      }
                    </code>
                  </a>
                </div>
      
                <br>
                <br>
      
                <div class="list-group">
                  <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                      /api/module/id
                  </a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
                  <a href="#" class="list-group-item list-group-item-action">Returns a single module data</a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single module</a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single module</a>
                  <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
                  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                    <code class="pre-scrollable">
                      {
                        "code": "CST4500",
                        "title": "Computer Network and Internetworks",
                        "description": "Internetworking Course",
                        "tutors": [
                            1
                        ]
                      }
                    </code>
                  </a>
                </div>

          </div>
         

          <br>
          <hr>
          <br>



          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/programme
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single programme</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "code": "CST4500459",
                    "title": "Cyber Security",
                    "description": "This is a professional security course",
                    "modules": [
                        1,
                        3,
                        4
                    ],
                    "fee": "200000.00"
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/programme/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single programme data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single programme</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single programme</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "code": "CST4500459",
                    "title": "Cyber Security",
                    "description": "This is a professional security course",
                    "modules": [
                        1,
                        3,
                        4
                    ],
                    "fee": "200000.00"
                }
                </code>
              </a>
            </div>
  
          </div>


          <br>
          <hr>
          <br>



          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/discountandscholarship
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single discountandscholarship data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "code": "ALDSC100",
                    "title": "Alumni Discount",
                    "description": "Discount for our alumni",
                    "percent": 20
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/discountandscholarship/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single discountandscholarship data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single discountandscholarship</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single discountandscholarship</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "code": "ALDSC100",
                    "title": "Alumni Discount",
                    "description": "Discount for our alumni",
                    "percent": 20
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>


          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/student
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single student data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 3,
                    "first_name": "Muhammad",
                    "last_name": "Bello",
                    "sex": "Male",
                    "phone": 768787898989,
                    "email": "muhd@email.com",
                    "country": "Nigeria",
                    "address": "kano, Nigeria",
                    "isInternationalStudent": true,
                    "programme_application": 1,
                    "hasOffer": true,
                    "DiscountOrScholarship": [
                        1
                    ]
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/student/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single student data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single student</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single student</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 3,
                    "first_name": "Muhammad",
                    "last_name": "Bello",
                    "sex": "Male",
                    "phone": 768787898989,
                    "email": "muhd@email.com",
                    "country": "Nigeria",
                    "address": "kano, Nigeria",
                    "isInternationalStudent": true,
                    "programme_application": 1,
                    "hasOffer": true,
                    "DiscountOrScholarship": [
                        1
                    ]
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>


          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/invoice
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single invoice data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "student": 1,
                    "academic_year": "year 3",
                    "amount": "10000.00",
                    "balance": "2000.00",
                    "finance_hold": "12000.00",
                    "date_issued": "2021-01-26"
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/invoice/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single invoice data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single invoice</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single invoice</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "student": 1,
                    "academic_year": "year 3",
                    "amount": "10000.00",
                    "balance": "2000.00",
                    "finance_hold": "12000.00",
                    "date_issued": "2021-01-26"
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>


          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/payment
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single payment data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">

                  {
                    "id": 1,
                    "student": 1,
                    "invoices": [
                        1,
                        3
                    ],
                    "percent": 20,
                    "academic_year": "3rd Year",
                    "date_updated": "2021-01-26T09:08:03.189928Z"
                }
                 
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/payment/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single payment data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single payment</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single payment</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">

                  {
                    "id": 1,
                    "student": 1,
                    "invoices": [
                        1,
                        3
                    ],
                    "percent": 20,
                    "academic_year": "3rd Year",
                    "date_updated": "2021-01-26T09:08:03.189928Z"
                }
                
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>

          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/enroll
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single enrollment data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "studentID": "M0089797",
                    "student": 1,
                    "programme": 1,
                    "academic_year": "Year 4",
                    "status": "Active",
                    "mode": "Full Time",
                    "date": "2021-01-26T09:09:51.703497Z"
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/enroll/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single enrollment data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single enrollment</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single enrollment</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "studentID": "M0089797",
                    "student": 1,
                    "programme": 1,
                    "academic_year": "Year 4",
                    "status": "Active",
                    "mode": "Full Time",
                    "date": "2021-01-26T09:09:51.703497Z"
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>


          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/academics
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single academic data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "enrolled_student": 1,
                    "academic_module": 1,
                    "module_score": "70",
                    "academic_hold": "None",
                    "academic_year": "year 3",
                    "academic_term": "2019 Second Semester"
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/academics/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single academic data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single academics</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single academics</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "enrolled_student": 1,
                    "academic_module": 1,
                    "module_score": "70",
                    "academic_hold": "None",
                    "academic_year": "year 3",
                    "academic_term": "2019 Second Semester"
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>


          <div class="container">

            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/services
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns all data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">POST</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Create a single student services data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "enrolled_student": 1,
                    "visa_application_date": "2021-01-26",
                    "visa_status": "Active",
                    "visa_exp_date": "2022-02-28",
                    "inCountry": true
                }
                </code>
              </a>
            </div>
  
            <br>
            <br>
  
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                  /api/services/id
              </a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">GET</a>
              <a href="#" class="list-group-item list-group-item-action">Returns a single student services data</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">PUT</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">update a single student services</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">DELETE</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">delete a single student services</a>
              <a style="color: red;" href="#" class="list-group-item list-group-item-action">SAMPLE DATA</a>
              <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                <code class="pre-scrollable">
                  {
                    "id": 1,
                    "enrolled_student": 1,
                    "visa_application_date": "2021-01-26",
                    "visa_status": "Active",
                    "visa_exp_date": "2022-02-28",
                    "inCountry": true
                }
                </code>
              </a>
            </div>
  
          </div>
          

          <br>
          <hr>
          <br>



      
         
    </div>


    
</body>
</html>