{% extends 'main/layout.html' %}
{% load static %}

{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col">
                    <h4 class="page-title">Staffs</h4>
                </div><!--end col-->
                <div class="col-auto align-self-center">
                    <div class="col">
                        <form>
                            <div class="input-group">                               
                                <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control form-control-sm" placeholder="Search">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-soft-primary btn-sm"><i class="fas fa-search"></i></button>
                                </span>
                            </div>                                                
                        </form>                                            
                    </div><!--end col-->
                </div><!--end col-->  
            </div><!--end row-->                                                              
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">You can search and view staff profiles</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Job</th>
                        <th>Department</th>
                        <th>More</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for staff in staffs %}
                    <tr>
                        <th scope="row">{{staff.id}}</th>
                        <td>{{staff.user.username}}</td>
                        <td>{{staff.user.first_name}} {{staff.user.last_name}}</td>
                        <td>{{staff.phone}}</td>
                        <td>{{staff.job}}</td>
                        <td>{{staff.department}}</td>
                        <td><a href="{% url 'staff' staff.id %}">View Staff</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->
</div> <!-- end row -->



{% endblock %}